<div class="container-fluid no-padd" id="welcome">

    <!--BANNER-->
    <div class="row">
        <div class="col-md-12 no-padding">
            <div class="a-banner overlay s-back-switch">
                <img src="img/33.jpg" alt="Banner" class="s-img-switch">
                <section class="banner-heading t-center">
                    <span class="icon-mic banner-icon"></span>
                    <h5 class="heading-subtitle font-5"><span class="time">15th October</span> - <span class="city">New York, USA</span></h5>
                    <h1 class="heading-title font-2">LEAD TO YOUR CAREER</h1>
                    <p class="heading-text font-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </section>
            </div>
        </div>
    </div>
    <!--/BANNER-->
</div>