<form action="mail.php" id="popup-booked-form" class="white-popup-block mfp-hide">
    <div class="row marg-lg-t40 marg-xs-t20">
        <div class="col-xs-12">
            <div class="container form-blog bg-c-1">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="form-title">Book your seat</h3>
                    </div>
                </div>
                <div class="row marg-lg-t40">
                    <div class="col-xs-12 col-sm-6 col-md-4 marg-sm-b15">
                        <input type="text" placeholder="Your name" class="form-input" name="name" required>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 marg-sm-b15">
                        <input type="text" placeholder="Email address" class="form-input" name="email" required>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <input type="text" placeholder="Website" class="form-input" name="sub" required>
                    </div>
                </div>
                <div class="row marg-lg-t15">
                    <div class="col-xs-12">
                        <textarea class="form-textarea" placeholder="Your text here" name="text" required></textarea>
                        <button class="btn-submit">Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>