<div class="fluid-container bg-style-1" id="contact">
    <div class="row marg-xs-t40 marg-lg-t100">
        <!-- MAP -->
        <div class="col-xs-12">
            <div class="wpc-map-wrapper">
                <div class="wpc-map" data-lat="40.7143528"
                     data-lng="-74.0059731"
                     data-marker="img/circle.png"
                     data-zoom="10"
                     data-style="style-1"
                     data-string="WPC string"></div>
                <div class="form-2-container">
                    <div class="form-2-wrapper">
                        <h3 class="form-title">contact us</h3>
                        <form action="mail.php" class="form-2">
                            <input class="form-input" type="text" required placeholder="your name" name="name">
                            <input class="form-input" type="text" required placeholder="your email" name="email">
                            <textarea class="form-textarea" placeholder="message" name="text"></textarea>
                            <input type="submit" class="a-btn form-submit" value="send message">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>