<!--EVENTS-->
<div class="container-fluid bg-c-2">
    <div class="row">
        <div class="col-xs-12">
            <div class="container">

                <!--HEADLINE-->
                <div class="row" id="schedule">
                    <div class="col-xs-12 marg-lg-t95 marg-xs-t40 marg-lg-b70 marg-xs-b40">
                        <div class="a-head t-center">
                            <h5 class="head-subtitle font-4">match the time with you</h5>
                            <h3 class="head-title font-2">Event Schedule</h3>
                        </div>
                    </div>
                </div>
                <!--/HEADLINE-->

                <!--TABS OF EVENT BLOCK-->
                <div class="row marg-lg-b100 marg-xs-b40">
                    <div class="col-xs-12">
                        <div class="tabs event-block">
                            <div class="tabs-header marg-lg-b60">
                                <ul>
                                    <li class="active">Day 1</li>
                                    <li>Day 2</li>
                                    <li>Day 3</li>
                                </ul>
                            </div>
                            <div class="tabs-content">
                                <div class="tabs-item active">
                                    <ul>
                                        <li class="e-speaker-wrap type-1">
                                            <div class="wrap">
                                                <img src="img/11.jpg" alt="speaker" class="e-img">
                                            </div>
                                            <p class="e-time">10am - 12pm</p>
                                            <h4 class="e-title">Bushra Ahsani</h4>
                                            <h5 class="e-subtitle">Carrier in Interior Design</h5>
                                        </li>
                                        <li class="e-speaker-wrap type-1">
                                            <div class="wrap">
                                                <img src="img/12.jpg" alt="speaker" class="e-img">
                                            </div>
                                            <p class="e-time">12pm - 2pm</p>
                                            <h4 class="e-title">John Berry</h4>
                                            <h5 class="e-subtitle">productivity</h5>
                                        </li>
                                        <li class="e-speaker-wrap type-2">
                                            <div class="wrap">
                                                <p class="e-break">break</p>
                                            </div>
                                        </li>
                                        <li class="e-speaker-wrap type-1">
                                            <div class="wrap">
                                                <img src="img/13.jpg" alt="speaker" class="e-img">
                                            </div>
                                            <p class="e-time">3pm - 5pm</p>
                                            <h4 class="e-title">Julia Merry</h4>
                                            <h5 class="e-subtitle">UI/UX Design in real life</h5>
                                        </li>
                                        <li class="e-speaker-wrap type-1">
                                            <div class="wrap">
                                                <img src="img/14.jpg" alt="speaker" class="e-img">
                                            </div>
                                            <p class="e-time">5pm - 7pm</p>
                                            <h4 class="e-title">Martin Jones</h4>
                                            <h5 class="e-subtitle">Kickstart your career</h5>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tabs-item">
                                    <ul>
                                        <li class="e-speaker-wrap">
                                            <div class="wrap">
                                                <img src="img/13.jpg" alt="speaker" class="e-img">
                                            </div>
                                            <p class="e-time">3pm - 5pm</p>
                                            <h4 class="e-title">Julia Merry</h4>
                                            <h5 class="e-subtitle">UI/UX Design in real life</h5>
                                        </li>
                                        <li class="e-speaker-wrap">
                                            <div class="wrap">
                                                <img src="img/14.jpg" alt="speaker" class="e-img">
                                            </div>
                                            <p class="e-time">5pm - 7pm</p>
                                            <h4 class="e-title">Martin Jones</h4>
                                            <h5 class="e-subtitle">Kickstart your career</h5>
                                        </li>
                                        <li class="e-speaker-wrap">
                                            <div class="wrap">
                                                <p class="e-break">break</p>
                                            </div>
                                        </li>
                                        <li class="e-speaker-wrap">
                                            <div class="wrap">
                                                <img src="img/11.jpg" alt="speaker" class="e-img">
                                            </div>
                                            <p class="e-time">10am - 12pm</p>
                                            <h4 class="e-title">Bushra Ahsani</h4>
                                            <h5 class="e-subtitle">Carrier in Interior Design</h5>
                                        </li>
                                        <li class="e-speaker-wrap">
                                            <div class="wrap">
                                                <img src="img/12.jpg" alt="speaker" class="e-img">
                                            </div>
                                            <p class="e-time">12pm - 2pm</p>
                                            <h4 class="e-title">John Berry</h4>
                                            <h5 class="e-subtitle">productivity</h5>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tabs-item">
                                    <ul>
                                        <li class="e-speaker-wrap">
                                            <div class="wrap">
                                                <img src="img/11.jpg" alt="speaker" class="e-img">
                                            </div>
                                            <p class="e-time">10am - 12pm</p>
                                            <h4 class="e-title">Bushra Ahsani</h4>
                                            <h5 class="e-subtitle">Carrier in Interior Design</h5>
                                        </li>
                                        <li class="e-speaker-wrap">
                                            <div class="wrap">
                                                <img src="img/13.jpg" alt="speaker" class="e-img">
                                            </div>
                                            <p class="e-time">3pm - 5pm</p>
                                            <h4 class="e-title">Julia Merry</h4>
                                            <h5 class="e-subtitle">UI/UX Design in real life</h5>
                                        </li>
                                        <li class="e-speaker-wrap">
                                            <div class="wrap">
                                                <p class="e-break">break</p>
                                            </div>
                                        </li>
                                        <li class="e-speaker-wrap">
                                            <div class="wrap">
                                                <img src="img/12.jpg" alt="speaker" class="e-img">
                                            </div>
                                            <p class="e-time">12pm - 2pm</p>
                                            <h4 class="e-title">John Berry</h4>
                                            <h5 class="e-subtitle">productivity</h5>
                                        </li>
                                        <li class="e-speaker-wrap">
                                            <div class="wrap">
                                                <img src="img/14.jpg" alt="speaker" class="e-img">
                                            </div>
                                            <p class="e-time">5pm - 7pm</p>
                                            <h4 class="e-title">Martin Jones</h4>
                                            <h5 class="e-subtitle">Kickstart your career</h5>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/TABS OF EVENT BLOCK-->

            </div>
        </div>
    </div>
</div>
<!--/EVENTS-->