<!--FORM BLOCK-->
<div class="container">
    <!--HEADLINE-->
    <div class="row">
        <div class="col-xs-12 marg-lg-t95 marg-xs-t40 marg-lg-b20">
            <div class="a-head style-2 t-center">
                <h5 class="head-subtitle type-1 font-4">Don’t make late</h5>
                <h3 class="head-title font-2">Book your seat now</h3>
            </div>
        </div>
    </div>
    <!--/HEADLINE-->

    <!--FORM-->
    <div class="row">
        <div class="col-xs-12">
            <form action="/" class="form-1">
                <div class="container-fluid">
                    <div class="row marg-lg-b20">
                        <div class="col-xs-12 col-md-3 no-padd">
                            <input class="form-1-input" type="text" required placeholder="your name" name="name">
                        </div>
                        <div class="col-xs-12 col-md-3 sm-padd">
                            <input class="form-1-input" type="text" required placeholder="your email" name="email">
                        </div>
                        <div class="col-xs-12 col-md-3 no-padd">
                            <input class="form-1-input" type="text" required placeholder="phone number" name="sub">
                        </div>
                        <div class="col-xs-12 col-md-3 type-1">
                            <input type="submit" class="a-btn form-1-submit" value="book your seat">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 marg-lg-t35">
            <div class="form-under-text">Seats are limited. So hurry up!</div>
        </div>
    </div>
    <!--/FORM-->

</div>
<!--/FORM BLOCK-->