<!--GALLERY-->
<div class="gallery-wrapper s-back-switch" id="gallery">
    <img src="img/50.jpg" alt="" class="s-img-switch">
    <div class="container">

        <!--HEADLINE-->
        <div class="row">
            <div class="col-xs-12 marg-lg-t95 marg-xs-t40 marg-lg-b70 marg-xs-b40">
                <div class="a-head style-1 t-center ">
                    <h5 class="head-subtitle font-4">match the time with you</h5>
                    <h3 class="head-title font-2">Photo Gallery</h3>
                </div>
            </div>
        </div>
        <!--/HEADLINE-->

        <!--PHOTOS-->

        <div class="row marg-lg-b75 marg-xs-b30">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="gallery-block">
                    <a href="img/15.jpg" class="img-popup item s-back-switch b-img">
                        <img src="img/15.jpg" alt="" class="s-img-switch">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="gallery-block active">
                    <a href="img/16.jpg" class="img-popup item s-back-switch">
                        <img src="img/16.jpg" alt="" class="s-img-switch">
                    </a>
                </div>
                <div class="gallery-block">
                    <a href="img/17.jpg" class="img-popup item s-back-switch">
                        <img src="img/17.jpg" alt="" class="s-img-switch">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="gallery-block">
                            <a href="img/18.jpg" class="img-popup item s-back-switch l-img">
                                <img src="img/18.jpg" alt="" class="s-img-switch">
                            </a>
                        </div>
                        <div class="gallery-block">
                            <a href="img/19.jpg" class="img-popup item s-back-switch s-img">
                                <img src="img/19.jpg" alt="" class="s-img-switch">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/PHOTOS-->
    </div>
</div>
<!--/GALLERY-->