<div class="container">

    <!--TABS-->
    <div class="row marg-lg-t65 tab-block-wrapper">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="tab-block">
                <div class="tab-icon">
                    <span class="icon-map-pin"></span>
                </div>
                <div class="tab-desc t-left">
                    <h4 class="title font-2">location</h4>
                    <p class="text font-4">Maria Hall, NY, USA</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="tab-block">
                <div class="tab-icon">
                    <span class="icon-clock"></span>
                </div>
                <div class="tab-desc t-left">
                    <h4 class="title font-2">Date &amp; time</h4>
                    <p class="text font-4">10am - 7pm, 15th Oct - 17th Oct</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="tab-block">
                <div class="tab-icon">
                    <span class="icon-mic"></span>
                </div>
                <div class="tab-desc t-left">
                    <h4 class="title font-2">speakers</h4>
                    <p class="text font-4">12 Professionals</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="tab-block">
                <div class="tab-icon">
                    <span class="icon-profile-male"></span>
                </div>
                <div class="tab-desc t-left">
                    <h4 class="title font-2">seats</h4>
                    <p class="text font-4">500 People</p>
                </div>
            </div>
        </div>
    </div>
    <!--/TABS-->

    <!--HEADLINE-->
    <div class="row" id="about">
        <div class="col-xs-12 marg-lg-t95 marg-xs-t40 marg-lg-b70 marg-xs-b40">
            <div class="a-head t-center">
                <h5 class="head-subtitle font-4">what you will learn and the benefits</h5>
                <h3 class="head-title font-2">About This Event</h3>
                <p class="head-text font-4"> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feu
                    vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue.</p>
            </div>
        </div>
    </div>
    <!--/HEADLINE-->

    <!--INFO BLOCK-->
    <div class="row marg-lg-b100 marg-xs-b40">
        <div class="col-xs-12 col-sm-6 col-md-4 marg-xs-b30">
            <div class="service-block t-center">
                <div class="img-wrap s-back-switch">
                    <img src="img/2.jpg" alt="Our Service" class="s-img-switch">
                </div>
                <div class="descr">
                    <h5 class="service-title">Why we are doing this?</h5>
                    <p class="service-descr">Mirum est notare quam littera gothica, quam nu
                        parum claram, antep litterarum formas humanitatis
                        seacula quarta  qui nunc nobis videntur parum.</p>
                    <a href="single-blog.html?single_image=2-large.jpg" class="a-btn">read more</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="service-block t-center">
                <div class="img-wrap s-back-switch">
                    <img src="img/3.jpg" alt="Our Service" class="s-img-switch">
                </div>
                <div class="descr">
                    <h5 class="service-title">What you will learn?</h5>
                    <p class="service-descr">Mirum est notare quam littera gothica, quam nu
                        parum claram, antep litterarum formas humanitatis
                        seacula quarta  qui nunc nobis videntur parum.</p>
                    <a href="single-blog.html?single_image=3-large.jpg" class="a-btn">read more</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-md-4 marg-sm-t30">
            <div class="service-block t-center">
                <div class="img-wrap s-back-switch">
                    <img src="img/4.jpg" alt="Our Service" class="s-img-switch">
                </div>
                <div class="descr">
                    <h5 class="service-title">What are the benifits?</h5>
                    <p class="service-descr">Mirum est notare quam littera gothica, quam nu
                        parum claram, antep litterarum formas humanitatis
                        seacula quarta  qui nunc nobis videntur parum.</p>
                    <a href="single-blog.html?single_image=4-large.jpg" class="a-btn">read more</a>
                </div>
            </div>
        </div>
    </div>
    <!--/INFO BLOCK-->

</div>