<!--INFO BLOCK 2-->

<div class="banner-small overlay s-back-switch">
    <img src="img/5.jpg" alt="book your seat" class="s-img-switch">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="descr t-left">
                    <div class="icon-wrap hidden-xs">
                        <span class="icon-target"></span>
                    </div>
                    <h3 class="s-banner-title">Need help to set a career goal?</h3>
                    <p class="s-banner-text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                        vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 t-right xs-t-center">
                <a href="#" class="a-btn type-2 video-play-btn" data-video="https://www.youtube.com/embed/YnDmJUVdn8c?feature=oembedvq=hd1080&rel=0&autoplay=1&controls=0&loop=1&showinfo=0"><i class="icofont icofont-play"></i>watch our video</a>
                <a href="#" class="a-btn type-1">Book your seat</a>

                <div class="video-popup">
                    <div class="vertical-align">
                        <div class="video-wrap">
                            <a href="#" class="close">
                                <span>+</span>
                            </a>
                            <iframe class="bg-video-iframe" src="about:blank"></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--/INFO BLOCK 2-->