<!--POST-->
<div class="container-fluid no-padd bg-c-2">
    <div class="row">
        <div class="col-xs-12">
            <div class="container">

                <div class="row">
                    <div class="col-xs-12">

                        <article class="post-block single-blog">
                            <div class="entry-content">
                                {{ page.content }}
                            </div>
                            <!-- .entry-content -->
                        </article>
                    </div>
                </div>
                <!--/POST-->
            </div>
        </div>
    </div>
</div>