<!--/HEADER-->
<div class="container-fluid no-padd">

    <!--BANNER-->
    <div class="row">
        <div class="col-md-12 no-padding">
            <div class="a-banner blog overlay type-o s-back-switch">
                <img src="img/36.jpg" alt="Banner" class="s-img-switch">
                <section class="banner-heading t-center">
                    <h5 class="heading-subtitle font-5">{{ page.header.breadcrumbs }}</h5>
                    <h1 class="heading-title font-2">{{ page.header.custom.title }}</h1>
                </section>
            </div>
        </div>
    </div>
    <!--/BANNER-->
</div>