<!--PRICES-->
<div class="container marg-lg-b25" id="pricing">

    <!--HEADLINE-->
    <div class="row">
        <div class="col-xs-12 marg-xs-t40 marg-lg-t95 marg-lg-b70 marg-xs-b40">
            <div class="a-head t-center">
                <h5 class="head-subtitle font-4">buy your ticket</h5>
                <h3 class="head-title font-2">Ticket price</h3>
            </div>
        </div>
    </div>
    <!--/HEADLINE-->

    <!--PRICES BLOCKS-->
    <div class="row marg-lg-b30">
        <div class="col-xs-12 col-sm-6 col-md-6 marg-xs-b30">
            <div class="price-block-wrapper">
                <div class="icon-1 hidden-xs"><i class="icofont icofont-check"></i></div>
                <ul>
                    <li><span class="price">$50</span> / 1 person</li>
                    <li><i class="true icofont icofont-check"></i><span class="text">1  Comfortable Seat</span></li>
                    <li><i class="true icofont icofont-check"></i><span class="text">Brochures</span></li>
                    <li><i class="false icofont icofont-close"></i><span class="text">Lunch Item</span></li>
                </ul>
                <div class="icon-2"><i class="icofont icofont-user"></i></div>
                <a href="" class="a-btn type-4">basic</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="price-block-wrapper active">
                <div class="icon-1 hidden-xs"><i class="icofont icofont-check"></i></div>
                <ul>
                    <li><span class="price">$99</span> / 1 person</li>
                    <li><i class="true icofont icofont-check"></i><span class="text">1 Comfortable Seat</span></li>
                    <li><i class="true icofont icofont-check"></i><span class="text">Brochures</span></li>
                    <li><i class="true icofont icofont-check"></i><span class="text">Lunch Item</span></li>
                </ul>
                <div class="icon-2"><i class="icofont icofont-user-alt-5"></i></div>
                <a href="" class="a-btn type-4">Early bird</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 marg-xs-b30">
            <div class="price-block-wrapper">
                <div class="icon-1 hidden-xs"><i class="icofont icofont-check"></i></div>
                <ul>
                    <li><span class="price">$159</span> / 4 person</li>
                    <li><i class="true icofont icofont-check"></i><span class="text">4 Comfortable Seats</span></li>
                    <li><i class="true icofont icofont-check"></i><span class="text">Premium Brochures</span></li>
                    <li><i class="true icofont icofont-check"></i><span class="text">2 Lunch Pack</span></li>
                </ul>
                <div class="icon-2"><i class="icofont icofont-users-alt-5"></i></div>
                <a href="" class="a-btn type-4">group</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="price-block-wrapper">
                <div class="icon-1 hidden-xs"><i class="icofont icofont-check"></i></div>
                <ul>
                    <li><span class="price">$129</span> / 1 person</li>
                    <li><i class="true icofont icofont-check"></i><span class="text">1 Comfortable Seat</span></li>
                    <li><i class="true icofont icofont-check"></i><span class="text">Premium Brochures</span></li>
                    <li><i class="true icofont icofont-check"></i><span class="text">Lunch Item</span></li>
                </ul>
                <div class="icon-2"><i class="icofont icofont-user-suited"></i></div>
                <a href="" class="a-btn type-4">pro</a>
            </div>
        </div>
    </div>
    <!--/PRICES BLOCKS-->

</div>
<!--/PRICES-->