<div class="container">

    <!--HEADLINE-->
    <div class="row" id="speakers">
        <div class="col-xs-12 marg-lg-t95 marg-xs-t40 marg-lg-b70 marg-xs-b40">
            <div class="a-head t-center">
                <h5 class="head-subtitle font-4">know about the speakers</h5>
                <h3 class="head-title font-2">our speakers</h3>
            </div>
        </div>
    </div>
    <!--/HEADLINE-->

    <!--SPEAKERS-->
    <div class="row marg-lg-b45 marg-xs-b0">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="speaker-wrapper big-size s-back-switch">
                <img src="img/6.jpg" alt="speaker" class="s-img-switch">
                <div class="speaker-descr">
                    <div class="speaker-descr-middle">
                        <h4 class="title">David Ramon</h4>
                        <h5 class="sub-title">Businessman - Main Speaker</h5>
                        <div class="hover">
                            <div class="social">
                                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                                <a href="https://ru.pinterest.com/" class="fa fa-pinterest-p"></a>
                                <a href="https://plus.google.com/" class="fa fa-google-plus"></a>
                                <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="speaker-wrapper active s-back-switch">
                <img src="img/7.jpg" alt="speaker" class="s-img-switch">
                <div class="speaker-descr">
                    <div class="speaker-descr-middle">
                        <h4 class="title">Julia Merry</h4>
                        <h5 class="sub-title">UI/UX Designer - Special Speaker</h5>
                        <div class="hover">
                            <div class="social">
                                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                                <a href="https://ru.pinterest.com/" class="fa fa-pinterest-p"></a>
                                <a href="https://plus.google.com/" class="fa fa-google-plus"></a>
                                <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="speaker-wrapper s-back-switch">
                <img src="img/8.jpg" alt="speaker" class="s-img-switch">
                <div class="speaker-descr">
                    <div class="speaker-descr-middle">
                        <h4 class="title">Julia Merry</h4>
                        <h5 class="sub-title">UI/UX Designer - Special Speaker</h5>
                        <div class="hover">
                            <div class="social">
                                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                                <a href="https://ru.pinterest.com/" class="fa fa-pinterest-p"></a>
                                <a href="https://plus.google.com/" class="fa fa-google-plus"></a>
                                <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-12 no-padd-md">
                        <div class="speaker-wrapper s-back-switch">
                            <img src="img/9.jpg" alt="speaker" class="s-img-switch">
                            <div class="speaker-descr">
                                <div class="speaker-descr-middle">
                                    <h4 class="title">John Berry</h4>
                                    <h5 class="sub-title">Animation Artist - Guest Speaker</h5>
                                    <div class="hover">
                                        <div class="social">
                                            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                                            <a href="https://ru.pinterest.com/" class="fa fa-pinterest-p"></a>
                                            <a href="https://plus.google.com/" class="fa fa-google-plus"></a>
                                            <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12 no-padd-md">
                        <div class="speaker-wrapper s-back-switch">
                            <img src="img/10.jpg" alt="speaker" class="s-img-switch">
                            <div class="speaker-descr">
                                <div class="speaker-descr-middle">
                                    <h4 class="title">Bushra Ahsani</h4>
                                    <h5 class="sub-title">Interior Designer - Guest Speaker</h5>
                                    <div class="hover">
                                        <div class="social">
                                            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                                            <a href="https://ru.pinterest.com/" class="fa fa-pinterest-p"></a>
                                            <a href="https://plus.google.com/" class="fa fa-google-plus"></a>
                                            <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row marg-lg-b45 marg-xs-b0 hide-item">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="speaker-wrapper big-size s-back-switch">
                <img src="img/6.jpg" alt="speaker" class="s-img-switch">
                <div class="speaker-descr">
                    <div class="speaker-descr-middle">
                        <h4 class="title">David Ramon</h4>
                        <h5 class="sub-title">Businessman - Main Speaker</h5>
                        <div class="hover">
                            <div class="social">
                                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                                <a href="https://ru.pinterest.com/" class="fa fa-pinterest-p"></a>
                                <a href="https://plus.google.com/" class="fa fa-google-plus"></a>
                                <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="speaker-wrapper s-back-switch">
                <img src="img/7.jpg" alt="speaker" class="s-img-switch">
                <div class="speaker-descr">
                    <div class="speaker-descr-middle">
                        <h4 class="title">Julia Merry</h4>
                        <h5 class="sub-title">UI/UX Designer - Special Speaker</h5>
                        <div class="hover">
                            <div class="social">
                                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                                <a href="https://ru.pinterest.com/" class="fa fa-pinterest-p"></a>
                                <a href="https://plus.google.com/" class="fa fa-google-plus"></a>
                                <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="speaker-wrapper s-back-switch">
                <img src="img/8.jpg" alt="speaker" class="s-img-switch">
                <div class="speaker-descr">
                    <div class="speaker-descr-middle">
                        <h4 class="title">Julia Merry</h4>
                        <h5 class="sub-title">UI/UX Designer - Special Speaker</h5>
                        <div class="hover">
                            <div class="social">
                                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                                <a href="https://ru.pinterest.com/" class="fa fa-pinterest-p"></a>
                                <a href="https://plus.google.com/" class="fa fa-google-plus"></a>
                                <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-12 no-padd-md">
                        <div class="speaker-wrapper s-back-switch">
                            <img src="img/9.jpg" alt="speaker" class="s-img-switch">
                            <div class="speaker-descr">
                                <div class="speaker-descr-middle">
                                    <h4 class="title">John Berry</h4>
                                    <h5 class="sub-title">Animation Artist - Guest Speaker</h5>
                                    <div class="hover">
                                        <div class="social">
                                            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                                            <a href="https://ru.pinterest.com/" class="fa fa-pinterest-p"></a>
                                            <a href="https://plus.google.com/" class="fa fa-google-plus"></a>
                                            <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12 no-padd-md">
                        <div class="speaker-wrapper s-back-switch">
                            <img src="img/10.jpg" alt="speaker" class="s-img-switch">
                            <div class="speaker-descr">
                                <div class="speaker-descr-middle">
                                    <h4 class="title">Bushra Ahsani</h4>
                                    <h5 class="sub-title">Interior Designer - Guest Speaker</h5>
                                    <div class="hover">
                                        <div class="social">
                                            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                                            <a href="https://ru.pinterest.com/" class="fa fa-pinterest-p"></a>
                                            <a href="https://plus.google.com/" class="fa fa-google-plus"></a>
                                            <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row marg-lg-b100 marg-xs-b45">
        <div class="col-xs-12 t-center">
            <a href="#" class="a-btn type-3 btn-more">meet with all speakers</a>
        </div>
    </div>
    <!--/SPEAKERS-->
</div>