<!-- SPONSORS BLOCK-->
<div class="container">

    <!--HEADLINE-->
    <div class="row">
        <div class="col-xs-12 marg-lg-t95 marg-xs-t40 marg-lg-b50 marg-xs-b40">
            <div class="a-head t-center">
                <h5 class="head-subtitle font-4">know about our sponsors</h5>
                <h3 class="head-title font-2">Our sponsors</h3>
            </div>
        </div>
    </div>
    <!--/HEADLINE-->

    <!--SPONSORS-->
    <div class="row t-center">
        <div class="col-xs-6 col-sm-4 col-md-2 marg-sm-b20 marg-xs-b20">
            <a href="#" class="sponsors-item">
                <img src="img/logo1.jpg" alt="" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 marg-sm-b20 marg-xs-b20">
            <a href="#" class="sponsors-item">
                <img src="img/logo2.jpg" alt="" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 marg-sm-b20 marg-xs-b20">
            <a href="#" class="sponsors-item">
                <img src="img/logo3.jpg" alt="" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 marg-sm-b20 marg-xs-b20">
            <a href="#" class="sponsors-item">
                <img src="img/logo4.jpg" alt="" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 marg-sm-b20 marg-xs-b20">
            <a href="#" class="sponsors-item">
                <img src="img/logo5.jpg" alt="" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 marg-sm-b20 marg-xs-b20">
            <a href="#" class="sponsors-item">
                <img src="img/logo6.jpg" alt="" class="img-responsive">
            </a>
        </div>
    </div>
    <!-- /SPONSORS-->
</div>
<!-- /SPONSORS BLOCK-->