<!-- FOOTER -->
<footer>
    <div class="a-footer">
        <!-- main footer -->
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 marg-sm-b40">
                        <div class="header">
                            <div class="logo">
                                <a href="{{ base_url_absolute }}" class="table-cell"><img src="{{ url('theme://img/logo-text.png') }}" alt="IT4Mage.org"></a>
                            </div>
                        </div>
                        {#<ul class="list">#}
                        {#<li class="list-item">#}
                        {#Email: <a href="mailto:it4mage@googlegroups.com">it4mage@googlegroups.com</a>#}
                        {#</li>#}
                        {#</ul>#}
                        <ul class="social-wrap">
                            <li class="social-item">
                                <a href="https://github.com/it4mage" target="_blank"><i class="fa fa-github"></i> GitHub Repositories</a>
                            </li>
                            <li class="social-item">
                                <a href="https://twitter.com/it4mage" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="header">
                            Link Utili
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 no-padd">
                                    <ul class="list">
                                        <li class="list-item">
                                            <a href="https://github.com/it4mage/magento2-traduzione-italiana" target="_blank">Traduzione italiana Magento 2</a>
                                        </li>
                                        <li class="list-item">
                                            <a href="https://github.com/it4mage/CashOnDelivery" target="_blank">Cash on Delivery Magento2</a>
                                        </li>
                                    </ul>
                                </div>
                                {#<div class="col-xs-12 col-sm-6 col-md-6 no-padd">#}
                                {#<ul class="list">#}
                                {#<li class="list-item">#}
                                {#<a href="">GraphicRiver</a>#}
                                {#</li>#}
                                {#<li class="list-item">#}
                                {#<a href="">AudioJungle</a>#}
                                {#</li>#}
                                {#<li class="list-item">#}
                                {#<a href="">Eventum</a>#}
                                {#</li>#}
                                {#<li class="list-item">#}
                                {#<a href="">Company</a>#}
                                {#</li>#}
                                {#<li class="list-item">#}
                                {#<a href="">News</a>#}
                                {#</li>#}
                                {#</ul>#}
                                {#</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="header">
                            Eventi Italiani
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 no-padd">
                                    <ul class="list">
                                        <li class="list-item">
                                            <a href="http://www.magetitans.it/" target="_blank">Mage Titans Italy 2018</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="copyright">© Copyright 2018 IT4Mage</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>