<!-- FOOTER -->
<footer>
    <div class="a-footer">
        <!-- main footer -->
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 marg-sm-b40">
                        <div class="header">
                            <div class="logo">
                                <a href="index.html" class="table-cell"><span>.</span>eventine</a>
                            </div>
                        </div>
                        <ul class="list">
                            <li class="list-item">
                                Call us: <a href="tel:+0312353524">+031-2353-524</a>
                            </li>
                            <li class="list-item">
                                Email: <a href="mailto:">support@eventine.com</a>
                            </li>
                            <li class="list-item">
                                Address:  23 Biko Road, NY, USA
                            </li>
                        </ul>
                        <ul class="social-wrap">
                            <li class="social-item">
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="social-item">
                                <a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="social-item">
                                <a href=""><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li class="social-item">
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li class="social-item">
                                <a href=""><i class="fa fa-pinterest-p"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="header">
                            Important Links
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 no-padd">
                                    <ul class="list">
                                        <li class="list-item">
                                            <a href="">Tut+</a>
                                        </li>
                                        <li class="list-item">
                                            <a href="">ThemeForest</a>
                                        </li>
                                        <li class="list-item">
                                            <a href="">CodeCanayon</a>
                                        </li>
                                        <li class="list-item">
                                            <a href="">Envato</a>
                                        </li>
                                        <li class="list-item">
                                            <a href="">Mashable</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 no-padd">
                                    <ul class="list">
                                        <li class="list-item">
                                            <a href="">GraphicRiver</a>
                                        </li>
                                        <li class="list-item">
                                            <a href="">AudioJungle</a>
                                        </li>
                                        <li class="list-item">
                                            <a href="">Eventum</a>
                                        </li>
                                        <li class="list-item">
                                            <a href="">Company</a>
                                        </li>
                                        <li class="list-item">
                                            <a href="">News</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="header">
                            Photo Gallery
                        </div>
                        <ul class="f-gallery marg-lg-t45">
                            <li class="g-item"><a href="#"><img src="img/23.jpg" alt="gallery" class="img-responsive"></a></li>
                            <li class="g-item"><a href="#"><img src="img/24.jpg" alt="gallery" class="img-responsive"></a></li>
                            <li class="g-item"><a href="#"><img src="img/25.jpg" alt="gallery" class="img-responsive"></a></li>
                            <li class="g-item"><a href="#"><img src="img/26.jpg" alt="gallery" class="img-responsive"></a></li>
                            <li class="g-item"><a href="#"><img src="img/27.jpg" alt="gallery" class="img-responsive"></a></li>
                            <li class="g-item"><a href="#"><img src="img/28.jpg" alt="gallery" class="img-responsive"></a></li>
                            <li class="g-item"><a href="#"><img src="img/29.jpg" alt="gallery" class="img-responsive"></a></li>
                            <li class="g-item"><a href="#"><img src="img/30.jpg" alt="gallery" class="img-responsive"></a></li>
                            <li class="g-item"><a href="#"><img src="img/31.jpg" alt="gallery" class="img-responsive"></a></li>
                            <li class="g-item"><a href="#"><img src="img/32.jpg" alt="gallery" class="img-responsive"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="copyright">© Copyright 2017 Eventine. Made with love by WpBrothers.</p>
                </div>
            </div>
        </div>
    </div>
</footer>