{% extends 'partials/base.html.twig' %}

{% block content %}
    {% for module in page.collection() %}
        {{ module.content }}
    {% endfor %}
    <div class="container">
        {{ page.content }}
    </div>
{% endblock content %}